<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>sfx_5011_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{306,0},{100,100}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{100,100}}</string>
        <key>sourceSize</key>
        <string>{100,100}</string>
      </dict>
      <key>sfx_5011_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{204,0},{100,100}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{100,100}}</string>
        <key>sourceSize</key>
        <string>{100,100}</string>
      </dict>
      <key>sfx_5011_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{102,0},{100,100}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{100,100}}</string>
        <key>sourceSize</key>
        <string>{100,100}</string>
      </dict>
      <key>sfx_5011_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{100,100}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{100,100}}</string>
        <key>sourceSize</key>
        <string>{100,100}</string>
      </dict>
      <key>sfx_5011_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{408,0},{68,86}}</string>
        <key>offset</key>
        <string>{-9,3}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{7,4},{68,86}}</string>
        <key>sourceSize</key>
        <string>{100,100}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>sfx_5011_0.png</string>
      <key>size</key>
      <string>{476,100}</string>
      <key>smartupdate</key>
      <string>$TexturePacker:SmartUpdate:f8a77b48a573e04437050aee9cc09cf4:16600ddf1c87a54dc47b9d74154a9fcf:32d56fa837e399b88a75114d5a499596$</string>
      <key>textureFileName</key>
      <string>sfx_5011_0.png</string>
    </dict>
  </dict>
</plist>